/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
}

.logo-section {
    display: flex;
    align-items: center;
}

.logo-section img {
    width: 40px;  /* Adjust the size to fit the header */
    height: auto;
    margin-right: 10px;
}

.logo-section h1 {
    font-size: 24px; /* Adjust the font size of the title */
    font-weight: bold;
}


/* Hero Section */
.hero-section {
    background: url('images/banner.png') no-repeat center center/cover;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.hero-section h1 {
    font-size: 48px;
}

.hero-section h2 {
    font-size: 24px;
    margin-top: 10px;
}

/* Gallery Section */
.gallery-section {
    padding: 50px 10%;
    text-align: center;
}

.gallery-section h2 {
    margin-bottom: 30px;
}

.masonry-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.masonry-grid img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Workshops Section */
.workshops-section {
    padding: 50px;
    text-align: center;
}

/* Shop Section */
.shop-section {
    padding: 50px;
    text-align: center;
}

.shop-section a {
    font-size: 20px;
    color: #333;
    padding: 10px 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.shop-section a:hover {
    background-color: #ddd;
}

/* About Section */
.about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-text {
    width: 60%;
    font-size: 18px;
}

.about-image .about-head {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

/* Contact Section */
.contact-section {
    padding: 50px;
    text-align: center;
}

/* Footer Section */
footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

.footer-left, .footer-center, .footer-right {
    width: 33%;
    text-align: center;
}

.social-icons a {
    margin: 0 10px;
}

.social-icons img {
    width: 30px;
    height: 30px;
    transition: opacity 0.3s;
}

.social-icons img:hover {
    opacity: 0.7;
}
