/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    padding: 20px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


header .logo img {
    height: 40px;
    margin-right: 10px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

header nav ul li a:hover {
    color: #f39c12;
}

.hero {
    background: url('images/banner_3.png') no-repeat center center/cover;
    text-align: center;
    color: #fff;
    padding: 100px 0;
}

.hero h1 {
    font-size: 3rem;
}

.hero p {
    font-size: 1.2rem;
    margin: 10px 0;
}

.hero .btn {
    background-color: #f39c12;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
}

.hero .btn:hover {
    background-color: #e67e22;
}

/* Gallery Section */
.gallery {
    padding: 50px;
    background-color: #fff;
    text-align: center;
}

.gallery h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.carousel {
    position: relative;
    max-width: 80%;
    margin: 0 auto;
}

.carousel-images img {
    width: 100%;
    display: block;
    transition: transform 0.5s ease;
}

button {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.prev-btn {
    left: 0;
}

.next-btn {
    right: 0;
}

/* Categories Section */
.categories {
    background-color: #fafafa;
    padding: 50px 0;
}

.categories .category {
    text-align: center;
    margin-bottom: 30px;
}

.categories img {
    width: 100%;
    max-width: 300px;
    margin-top: 15px;
}

/* About Section */
.about {
    padding: 50px;
    background-color: #fff;
    text-align: center;
}

/* Newsletter Section */
.newsletter {
    background-color: #f39c12;
    color: #fff;
    padding: 30px;
    text-align: center;
}

.newsletter input[type="text"],
.newsletter input[type="email"] {
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    width: 250px;
}

.newsletter button {
    padding: 10px 20px;
    background-color: #fff;
    color: #f39c12;
    border: none;
    border-radius: 5px;
    font-weight: 700;
}

.newsletter button:hover {
    background-color: #e67e22;
    color: white;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
